<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4" id="center">
      <h2>Welcome!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget leo a felis semper interdum. Ut id urna a eros placerat vulputate sit amet id urna. Fusce cursus nibh ex.
        Praesent fringilla, mi a facilisis convallis, orci tellus pellentesque mauris, non consectetur arcu nunc eu risus. Curabitur mi orci, volutpat sed lacus a, tristique
        lobortis ligula. Nullam finibus purus id metus ullamcorper vestibulum. Praesent feugiat ultrices metus, quis efficitur ante bibendum ac. Etiam eu libero quis lectus tempus
        gravida. Donec lacinia, libero vel laoreet feugiat, est urna sagittis eros, eget ullamcorper arcu elit a dolor.</p>
    </div>
    <div class="col-sm-4">
      <h4>Features</h4>
      <ul>
        <li>Events!</li>
        <li>Connections!</li>
        <li>Profiles!</li>
        <li>Database Interactions!</li>
        <li>Other Things!</li>
      </ul>
      <div class="form-group text-center">
        <button class="btn btn-primary" (click)="goToService.goTo('register')">Register!</button>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
