  <h1 class="title" align="center">The In</h1>
  <div class="welcome-section" align="center">
    <i class="fas fa-handshake fa-10x"></i>
    <p>Discover local events, coordinate meet-ups and establish connections during an event</p>
    <button class="btn btn-primary btn-lg" type="submit">Get Started</button>
  </div>
  <div class="about-section">
    <h1>What is The In?</h1>
    <ul>
      <li>Discover events in your area</li>
    </ul>
    <div class="about-section-background">
      <!--<img src="https://s3.amazonaws.com/nwasquad/rawpixel-com-250087-unsplash.jpg" />-->
    </div>
  </div>
  <div class="easy-section">
    <h1>It's Easy</h1>
    <ul>
      <li>Discover events in your area</li>
    </ul>
    <div class="easy-section-background">
    </div>
  </div>
  <div class="squad-section">
    <h1 align="center">The Team</h1>
    <div class="squad-section-background" align="center">
      <figure class="mug">
        <img src="https://d24bvd1hzqwmnr.cloudfront.net/sawyer.jpeg" alt="Sawyer Novak" />
        <figcaption align="center"><i>Slave Master</i></figcaption>
        <!--<caption align="bottom">meow</caption>-->
      </figure>
      <figure class="mug">
        <img src="https://s3.amazonaws.com/nwasquad/cat.jpg" alt="meow im a cat" />
        <figcaption align="center"><i>Meow</i></figcaption>
      </figure>
      <figure class="mug">
        <img src="https://s3.amazonaws.com/nwasquad/cat.jpg" alt="meow im a cat" />
        <figcaption align="center"><i>Meow</i></figcaption>
      </figure><figure class="mug">
        <img src="https://s3.amazonaws.com/nwasquad/cat.jpg" alt="meow im a cat" />
        <figcaption align="center"><i>Meow</i></figcaption>
      </figure><figure class="mug">
        <img src="https://s3.amazonaws.com/nwasquad/cat.jpg" alt="meow im a cat" />
        <figcaption align="center"><i>Meow</i></figcaption>
      </figure><figure class="mug">
        <img src="https://s3.amazonaws.com/nwasquad/cat.jpg" alt="meow im a cat" />
        <figcaption align="center"><i>Meow</i></figcaption>
      </figure>
      <!--<figure class="mug"><img src="https://d24bvd1hzqwmnr.cloudfront.net/cat.jpg" alt="meow im a cat" />-->
        <!--<figcaption><i class="ion-android-star-outline"></i></figcaption>-->
      <!--</figure>-->
      <!--<figure class="mug"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample20.jpg" alt="sq-sample20" />-->
        <!--<figcaption><i class="ion-android-stopwatch"></i></figcaption>-->
      <!--</figure>-->
      <!--<figure class="mug"><img src="https://s3.amazonaws.com/nwasquad/cat.jpg" alt="sq-sample20" />-->
        <!--<figcaption><i class="ion-android-stopwatch"></i></figcaption>-->
        <!--<a href="#"></a>-->
      <!--</figure>-->
      <!--<figure class="mug"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample20.jpg" alt="sq-sample20" />-->
        <!--<figcaption><i class="ion-android-stopwatch"></i></figcaption>-->
        <!--<a href="#"></a>-->
      <!--</figure>-->
    </div>
  </div>
