<div class="container">
  <div class="row">
    <h3>{{event.name}}</h3>
  </div>
  <div class="row text-center">
    <p>{{event.description}}</p>
  </div>
  <div class="row">
    <div class="col-sm attendees">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Invited Members</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let attendee of attendees" (click)="goToProfile($event)">
          <td [attr.accountId]="attendee.id">{{attendee.firstName + " " + attendee.lastName}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm">
      <!-- this creates a google map on the page with the given lat/lng from -->
      <!-- the component as the initial center of the map: -->
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
  <div class="row text-center" *ngIf="coordinatorLogged">
    <p>Make Announcement</p>
    <div class="announcements">
      <form (submit)="putAnnouncement($event)">
        <div class="form-group">
          <textarea class="announcements" rows="5"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Announcements</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let announcement of announcements">
          <td>{{announcement.message}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
