<div class="container">
  <div class="row">
    <h3>{{event.name}}</h3>
  </div>
  <div class="row text-center">
    <p>{{event.description}}</p>
  </div>
  <div class="row">
    <div class="col-sm">
      <p>Invited Members</p>
      <ul>
        <li *ngFor="let attendee of event.attendees">{{attendee.name}}</li>
      </ul>
    </div>
    <div class="col-sm">
      <!-- this creates a google map on the page with the given lat/lng from -->
      <!-- the component as the initial center of the map: -->
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>
