<div class="container">
  <div class="row">
    <h3>{{event.name}}</h3>
  </div>
  <div class="row text-center">
    <p>{{event.description}}</p>
  </div>
  <div class="row">
    <div class="col-sm">
      <p>Invited Members</p>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let attendee of attendees" (click)="utilService.goTo('/profile')">
          <td>{{attendee.firstName + attendee.lastName}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm">
      <!-- this creates a google map on the page with the given lat/lng from -->
      <!-- the component as the initial center of the map: -->
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Announcements</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let announcement of announcements">
          <td>{{announcement.text}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
