agm-map {
  height: 200px;
  width:200px;
}

p{
  width:100%;
}

li{
  list-style: none;
  border:1px solid black;
  padding-left:6px;
  margin-top:2px;
  margin-bottom:2px;
}

.container{
  background-color: #f9f9f9;
  border-radius: 25px;
  padding-left: 30px;
  padding-right: 30px;
}

.row{
  padding:2%;
}
