<div class="basics-section d-inline-block">

  <ul *ngIf="account && !canEdit">
    <li>About: {{account.background}}</li>
    <li>Phone: {{account.phone}}</li>
    <li>Email: {{account.email}}</li>
    <li>Location: {{account.zipCode}}</li>
    <!--<li>Attachment: {{account.attachment}}</li>-->
  </ul>

  <!--If Edit button pressed and profile matches accountId token-->
  <form class="editForm" *ngIf="account && canEdit && account.id == currentUserId" (ngSubmit)="editSubmit()" #editform="ngForm">
    <ul>
      <li>About: <input [(ngModel)]="account.background" type="text" name="background" value="{{account.background}}" /></li>
      <li>Phone: <input [(ngModel)]="account.phone" type="text" name="phone" value="{{account.phone}}" /></li>
      <li>Email: <input [(ngModel)]="account.email" type="text" name="email" value="{{account.email}}" /></li>
      <li>Location: <input [(ngModel)]="account.zipCode" type="text" name="zipCode" value="{{account.zipCode}}" /></li>
      <!--<li>Attachment: <input [(ngModel)]="account.attachment" type="file" name="attachment" value="{{account.attachment}}" /></li>-->
    </ul>
    <button class="btn btn-primary" *ngIf="account && account.id == currentUserId" type="submit">Save</button>
  </form>

  <button class="btn btn-primary" *ngIf="account && account.id == currentUserId" (click)="toggleEdit()" >Edit</button>

</div>
