ul {
  list-style-type: none;
  padding-left: 0px;
}

ul li {
  padding: 10px;
}

#id{
  width: 500px;
  size: 500px;
}

.contacts {
  padding: 25px;
}

.basics-section {
  padding: 20px 20px 20px 0px;
}
/*input[type=text] {*/
  /*width: 300px;*/
/*}*/
