<table *ngIf="loadedUpcoming" class="table">
    <tr>
        <th>Upcoming Events</th>
    </tr>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Date</th>
        <th>Description</th>
    </tr>
    <tr *ngFor="let event of upcomingEvents">
        <td>{{event.name}}</td>
        <td>{{event.location.addressNum}} {{event.location.streetName}}</td>
        <td>{{event.location.city}}</td>
        <td>{{event.location.state}}</td>
        <td>{{event.location.zip}}</td>
        <td>{{event.date}}</td>
        <td>{{event.description}}</td>
        <td *ngIf="coordinator">
          <form (submit)="invite($event,event.id)">
            <input type="text" placeholder="ID" name="accountId" id="accountId"/>
            <button type="submit">Invite</button>
          </form>
        </td>
    </tr>
</table>
<table *ngIf="loadedPast">
    <tr>
        <th>Past Events</th>
    </tr>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Date</th>
        <th>Description</th>
    </tr>
    <tr *ngFor="let event of pastEvents" (click)="details(event.id)">
        <td>{{event.name}}</td>
        <td>{{event.location.addressNum}} {{event.location.streetName}}</td>
        <td>{{event.location.city}}</td>
        <td>{{event.location.state}}</td>
        <td>{{event.location.zip}}</td>
        <td>{{event.date}}</td>
        <td>{{event.description}}</td>
    </tr>
    <table *ngIf="getDetails">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <tr *ngFor="let account of starred">
            <td>{{account.firstName}}</td>
            <td>{{account.lastName}}</td>
            <td>{{account.email}}</td>
            <td>{{account.phone}}</td>
        </tr>
    </table>
</table>
<table *ngIf="loadedInvited">
    <tr>
        <th>Invited Events</th>
    </tr>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Date</th>
        <th>Description</th>
    </tr>
    <tr *ngFor="let event of invitedEvents">
        <td>{{event.name}}</td>
        <td>{{event.location.addressNum}} {{event.location.streetName}}</td>
        <td>{{event.location.city}}</td>
        <td>{{event.location.state}}</td>
        <td>{{event.location.zip}}</td>
        <td>{{event.date}}</td>
        <td>{{event.description}}</td>
        <td>
            <button onclick="accept(event.id)">Accept</button>
            <button onclick="ingore(event.id)">Ignore</button>
        </td>
    </tr>
</table>
