<!--<h1 class="title" align="center">Introducing</h1>-->

  <div class="welcome-section container" align="center">
    <h1 class="title" align="center">The In</h1>
    <!--<i class="fas fa-handshake fa-10x"></i>-->
    <h4>Discover local events, coordinate meet-ups and establish connections during an event</h4>
    <button class="btn btn-primary btn-lg" routerLink="event/dashboard" type="submit">Get Started</button>
  </div>
  <div class="about-section container-fluid">
    <h1 align="center">What is The In?</h1>
    <div>
    <div>
      <p>The In is an event planning application that helps attendees start conversations and connections. You will be
        able to set up a profile, set up an event, invite others, create notes, and keep track of connections that you
        have made. The In will help you analyze your interests, job experiences, and hobbies to help you start a
        conversation with others around you.</p>
    </div>
    <div>
      <p>meow meowhe In is an event planning application that he</p>
    </div>
    </div>
  </div>
  <div class="squad-section">
    <h1 align="center">The Team</h1>
    <div class="squad-section-background" align="center">
      <figure class="mug">
        <img src="https://d24bvd1hzqwmnr.cloudfront.net/sawyer.jpeg" alt="Sawyer Novak" />
        <figcaption align="center"><i>Meow</i></figcaption>
        <caption class="mug-caption" align="bottom">Project Lead</caption>
      </figure>
      <figure class="mug">
        <img src="https://s3.amazonaws.com/nwasquad/cat.jpg" alt="meow im a cat" />
        <figcaption align="center"><i>Meow</i></figcaption>
        <caption class="mug-caption" align="bottom">Business Analyst</caption>
      </figure>
      <figure class="mug">
        <img src="https://s3.amazonaws.com/nwasquad/cat.jpg" alt="meow im a cat" />
        <figcaption align="center"><i>Meow</i></figcaption>
        <caption class="mug-caption" align="bottom">Front-end Developer</caption>
      </figure><figure class="mug">
        <img src="https://s3.amazonaws.com/nwasquad/cat.jpg" alt="meow im a cat" />
        <figcaption align="center"><i>Meow</i></figcaption>
      <caption class="mug-caption" align="bottom">Front-end Developer</caption>
      </figure><figure class="mug">
        <img src="https://s3.amazonaws.com/nwasquad/cat.jpg" alt="meow im a cat" />
        <figcaption align="center"><i>Meow</i></figcaption>
      <caption class="mug-caption" align="bottom">Business Analyst</caption>
      </figure><figure class="mug">
        <img src="https://s3.amazonaws.com/nwasquad/cat.jpg" alt="meow im a cat" />
        <figcaption align="center"><i>Meow</i></figcaption>
      <caption class="mug-caption" align="bottom">Flex Developer</caption>
      </figure>
    </div>
  </div>
