<div class="login-page">
  <div class="form">

    <form class="register-form" #registerForm="ngForm" (ngSubmit)="onRegisterSubmit()">
      <i class="fas fa-handshake fa-3x"></i>
      <input [(ngModel)]="rfname" type="text" name="rfname" placeholder="first name"/>
      <input [(ngModel)]="rlname" type="text" name="rlname" placeholder="last name"/>
      <input [(ngModel)]="remail" type="text" name="remail" placeholder="email address"/>
      <input [(ngModel)]="rpassword" type="password" name="rpassword" placeholder="password"/>
      <input [(ngModel)]="rpassword" type="password" name="rpassword" placeholder="confirm password"/>
      <button>create</button>
      <p class="message">Already registered? <a>Sign In</a></p>
    </form>

    <form class="login-form" #loginForm="ngForm" (ngSubmit)="onLoginSubmit()"><i class="fas fa-handshake fa-3x"></i>
      <input [(ngModel)]="email" type="text" name="email" placeholder="email"/>
      <input [(ngModel)]="password" type="password" name="password" placeholder="password"/>
      <button>login</button>
      <p class="message">Not registered? <a>Create an account</a></p>
    </form>
  </div>
</div>
