<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/><input type="text" name="email" placeholder="email address"/>
      <input type="password" name="password" placeholder="password"/>

      <button>create</button>
      <p class="message">Already registered? <a>Sign In</a></p>
    </form>
    <form class="login-form" #loginForm="ngForm" (ngSubmit)="onSubmit()"><h2>Welcome</h2>
      <input [(ngModel)]="email" type="text" name="email" placeholder="email"/>
      <input [(ngModel)]="password" type="password" name="password" placeholder="password"/>
      <button>login</button>
      <p class="message">Not registered? <a>Create an account</a></p>
    </form>
  </div>
</div>
