<div class="photo-basics-section">
  <div class="photo-section d-inline-block">
    <button>click me</button>
    <!--<img src="https://d24bvd1hzqwmnr.cloudfront.net/sawyer.jpeg" alt="Sawyer Novak" />-->
  </div>
  <div class="basics-section d-inline-block">
    <!--<h1>Sawyer Novak</h1>-->
    <!--<h3>About</h3>-->
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. I'm such a god Ab doloribus ducimus omnis rerum saepe, sapien</p>-->
    <!--<h3>Contact</h3>-->
    <!--<div class="contact-flex">-->
      <!--<p>About: </p>-->
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dicta incidunt ipsam neque quaerat qui saepe! Ab, amet cum cupiditate, deleniti dolorem illo nobis nulla optio possimus quidem suscipit voluptatem!</p>-->
      <ul>
        <li>About: {{background}}</li>
        <li>Phone: {{phone}}</li>
        <li>Email: {{email}}</li>
        <li>Location: {{zipcode}}</li>
      </ul>
  </div>
</div>
